{% load static %}

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide w-100 vh-90 module" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/car1.png' %}" class="d-block w-100" alt="...">
            </div>
        <div class="carousel-item">
            <img src="{% static 'img/car2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/car3.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/car4.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/car5.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/car6.png' %}" class="d-block w-100" alt="...">
        </div>
            <div class="carousel-item">
                <img src="{% static 'img/car7.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <!-- Main container -->

    <!-- Most sold carousel -->
    <div class="container-md py-6">
        <div class="row row-cols-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card rounded">
                <a href="#"><img src="{% static 'img/modaMujer.png' %}" class="card-img-top rounded" alt="Moda Mujer"></a>
            </div>
        </div>
        <div class="col">
            <div class="card rounded">
                <a href="#"><img src="{% static 'img/modaHombre.png' %}" class="card-img-top rounded" alt="Moda Hombre"></a>
            </div>
        </div>
        <div class="col">
            <div class="card rounded">
                <a href="#"><img src="{% static 'img/belleza.png' %}" class="card-img-top rounded" alt="Belleza"></a>
            </div>
        </div>
        <div class="col">
            <div class="card rounded">
                <a href="#"><img src="{% static 'img/calzado.png' %}" class="card-img-top rounded" alt="Calzado"></a>
            </div>
        </div>
    </div>
</div>