{% load static %}

<!-- Submenú -->
    <div class="row g-2">
        <!-- Columna Ropa Mujer -->
        <div class="col-md-3 px-2">
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Rebajas Ropa Mujer</a></span></h6>
            <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="category-link" data-category="blusas">Blusas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas">Camisetas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Sacos y Sweaters">Sacos y Sweaters</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Vestidos">Vestidos</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Jeans">Jeans</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Cardigans">Cardigans</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Chalecos">Chalecos</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Pijamas">Pijamas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Brassieres">Brassieres</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Calzones">Calzones</a></li>
            <li class="mb-4" style="width: 150px;"></li>
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Rebajas Deportiva Mujer</a></span></h6>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas">Camisetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Tops">Tops</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Short">Short</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Leggings">Leggings</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Sacos y Hoodies">Sacos y Hoodies</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
            </ul>
        </div>
    
        <!-- Columna Ropa Hombre -->
        <div class="col-md-3 px-2">
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Hombre</a></span></h6>
            <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="category-link" data-category="Camisas">Camisas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Poleras">Poleras</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Jeans">Jeans</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Polerones">Polerones</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Trajes">Trajes</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Ropa Interior">Ropa Interior</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Calcetines">Calcetines</a></li>
            <li class="mb-4" style="width: 150px;"></li>
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Deportiva Hombre</a></span></h6>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas Futbool">Camisetas Futbool</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas">Camisetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pantalonetas">Pantalonetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Sacos y Hoodies">Sacos y Hoodies</a></li>
            </ul>
        </div>
    
        <!-- Columna Ropa Niñas -->
        <div class="col-md-3 px-2">
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Niñas</a></span></h6>
            <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="category-link" data-category="Camisas">Camisas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Poleras">Poleras</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Jeans">Jeans</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Polerones">Polerones</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Trajes">Trajes</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Ropa Interior">Ropa Interior</a></li>
            <li class="mb-2"><a href="/" class="category-link" data-category="Calcetines">Calcetines</a></li>
            <li class="mb-6" style="width: 150px;"></li>
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Niños</a></span></h6>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas">Camisetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Sacos y Sweaters">Sacos y Sweaters</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pijamas">Pijamas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Ropa interior">Ropa interior</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Bermudas">Bermudas</a></li>
                <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Bebes Niñas</a></span></h6>
                <ul class="list-unstyled">
                <li class="mb-2"><a href="/" class="category-link" data-category="Camisetas">Camisetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pantalones">Pantalones</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Sacos y Sweaters">Sacos y Sweaters</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Pijamas">Pijamas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Ropa interior">Ropa interior</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Chaquetas">Chaquetas</a></li>
                <li class="mb-2"><a href="/" class="category-link" data-category="Bermudas">Bermudas</a></li>
                </ul>
        </div>
    
        <!-- Columna Ropa bebe niños -->
        <div class="col-md-3 px-2">
            <h6 class="mb-2"><span class="bold-on-hover"><a href="/">Ropa Bebes Niños</a></h6>
            <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="semi-bold-on-hover no-underline">Packs</a></li>
            <li class="mb-2"><a href="/" class="semi-bold-on-hover no-underline">Conjuntos</a></li>
            </ul>
        </div>
        </div>
    
        <!-- Separador y enlaces adicionales -->
        <div style="margin-top: 20px;">
            <hr class="my-4">
            <ul class="list-unstyled">
                <li><a href="#" style="text-decoration: none; color: black; font-size: x-small;"><small><strong>TIENDAS OFICIALES</strong></small></a></li>
                <li class="mb-4" style="width: 100px;"></li>
                <li><a href="#"><img src="{% static 'img/homIconButton.png' %}" alt="Homecenter Icon" width="100" height="30"></a></li>
                <li class="mb-4" style="width: 100px;"></li>
                <hr class="my-4">
                <li><a href="#" style="text-decoration: none;">Vende en falabella.com</a></li>
                <hr class="my-4">
                <li><a href="#" id="guias-compras-link" style="text-decoration: none;">Guias de compras</a></li>
                <li class="mb-4" style="width: 100px;"></li>
                <li><a href="#" id="horario-tiendas-link" style="text-decoration: none;">Horario de tiendas</a></li>
                <li class="mb-4" style="width: 100px; font-size: larger;"></li>
                <hr class="my-4">
                <img src="{% static 'img/falIconButton.png' %}" alt="falIconButton" width="115" height="10">
            </ul>
        </div>
    </div>