{% load static %}
<!-- Modal de inicio de sesión -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">
                    <img src="{% static 'img/falIconButton.png' %}" alt="Falabella Icon" height="30">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    {% csrf_token %}
                    <h4 class="text-label mb-4">Inicia sesión para comprar</h4>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" required>
                        <div class="mt-2">
                            <small>
                                <a href="#" class="text-decoration-none" id="forgotPasswordLink">¿Olvidaste tu contraseña?</a>
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 rounded-pill">Iniciar sesión</button>
                    <div class="text-center mt-3">
                        <small>¿No tienes cuenta? 
                            <a href="#" class="text-decoration-none" id="registerLink">Regístrate aquí</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>