{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Falabella Colombia</title>
        <meta name="description" content="Falabella Colombia">
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        
        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <!-- CSS personalizado -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/cart.css' %}">
        <link rel="stylesheet" href="{% static 'css/submenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/filters_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" href="{% static 'css/sold_carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/cambio_contra.css' %}">
        <link rel="stylesheet" href="{% static 'css/entrega.css' %}">
        <link rel="stylesheet" href="{% static 'css/selec_direccion.css' %}">
        <link rel="stylesheet" href="{% static 'css/MiPerfil.css' %}">

        
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <!-- Contenedor principal -->
        <div class="container-fluid">

            <!-- Navbar Homecenter/Linio --><!-- Main Navbar -->
            {% include 'partials/navbar.html' %}

            <!-- Contenido principal -->
            <main>
                <!-- Carrusel -->
                {% include 'partials/carousel.html' %}

                <!-- Mensajes -->
                {% if messages %}
                    <div class="container mt-3">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% block content %}{% endblock %}
                
                <!-- vista de productos -->
                {% include 'partials/products/products.html' %}
                
            </main>

            <!-- Modales -->
            {% include 'partials/modals/login.html' %}
            {% include 'partials/modals/register.html' %}
            {% include 'partials/modals/rec_correo.html' %}
            {% include 'partials/modals/rec_sms.html' %}
            {% include 'partials/modals/car.html' %}
            {% include 'partials/modals/cambio_contra.html' %}
            {% include 'partials/modals/entrega.html' %}
            {% include 'partials/modals/pago.html' %}
            {% include 'partials/modals/selec_direccion.html' %}
            {% include 'partials/modals/form_direccion.html' %}
            {% include 'partials/modals/MiPerfil.html' %}

            <!-- Footer -->
            {% include 'partials/footer.html' %}
        </div>

        
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
                crossorigin="anonymous"></script>
        
        <!-- JS personalizado (sin duplicados) -->
        <script src="{% static 'js/popovers.js' %}"></script>
        <script src="{% static 'js/products.js' %}"></script>
        <script src="{% static 'js/submenu.js' %}"></script>
        <script src="{% static 'js/modulos.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/rec_correo.js' %}"></script>
        <script src="{% static 'js/rec_sms.js' %}"></script>
        <script src="{% static 'js/register.js' %}"></script>
        <script src="{% static 'js/cart.js' %}"></script>
        <script src="{% static 'js/cambio_contra.js' %}"></script>
        <script src="{% static 'js/entrega.js' %}"></script>
        <script src="{% static 'js/pago.js' %}"></script>
        <script src="{% static 'js/selec_direccion.js' %}"></script>
        <script src="{% static 'js/form_direccion.js' %}"></script>
        <script src="{% static 'js/MiPerfil.js' %}"></script>


        
        {% block extra_js %}{% endblock %}
    </body>
</html>