{% extends 'core/base.html' %}

{% block title %}falabella.com | Compras online{% endblock %}
{% load static %}
{% block content %}
    



    <!-- Cards -->

    <!-- Latest cards -->

    <!-- Most sold parfums carousel -->

    <!-- Discounts -->

    <!-- Banner -->

    <!-- Login -->

    <!-- Most sold cards carousel -->

    <!-- Big cards -->

    <!-- CMR cards -->

    <!-- Benefits -->

    <!-- Pre-footer -->

    <!-- Footer -->

    <!-- Last footer -->

  <!-- End main container -->

{% endblock%}